#include <winresrc.h>
#include "resource.h"

// Enable themes for GUI elements
// http://www.angelfire.com/hi5/delphizeus/theme_xp.html
1 RT_MANIFEST "umodel.manifest"
IDC_MAIN_ICON ICON "umodel.ico"
