table.config A:link    { color : #55617b; text-decoration : none; font-weight : Bold; }
table.config A:visited { color : #55617b; text-decoration : none; font-weight : Bold; }
table.config A:active  { color : #55617b; text-decoration : none; font-weight : Bold; }
table.config A:hover   { color : #770404; text-decoration : none; font-weight : Bold; }


table.config {
	font-family    : Verdana, Arial, Helvetica, sans-serif;
	font-size      : 11px;
	border-style   : solid;
	border-color   : #808080;
	border-spacing : 1px;
	border-width   : 1px;
	border-collapse: collapse;
	padding        : 0px;
	line-height    : normal;
}

table.config td {
/*	font-size   : 10px; */
	font-weight : normal;
	text-align  : center;
	border-color: #b4e282;
	border-style: solid;
	padding     : 1px;
}

table.config th {
	position:-webkit-sticky;
	position:sticky;
	top         : 0;
	padding     : 5px;
}

.detailtxt {
	color       : #2D2D36;
/*	font-size   : 10px; */
	text-align  : left;
	font-size   : 9px;
}

.detailbold {
	color       : #FFFFFF;
	background-color: #606060;
/*	font-size   : 10px; */
	font-weight : bold;
	text-align  : center;
}

.year {
/*	font-size   : 10px; */
	font-weight : bold;
	text-align  : left;
	color           : #FFFFFF;
	background-color: #d27a7a;
}

.engine {
/*	font-size   : 10px; */
	font-weight : bold;
	text-align  : center;
	color           : #FFFFFF;
	background-color: #4897cc;
/*	text-shadow : -0.1em 0.1em #FFFFFF; */
	position:-webkit-sticky;
	position:sticky;
	top         : 24px;
}

.filter_container, .filter, #filter_info {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size   : 10px;
}

.filter_container {
	float       : right;
	width       : 400px;
	padding-bottom : 4px;
}

.filter {
	color       : #404080;
	background  : #FFFFFF;
	border      : 1px solid #C0C0C0;
	width       : 150px;
	height      : 16px;
	padding-left : 5px;
	padding-right: 5px;
	border-bottom-left-radius : 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius    : 3px;
	border-top-right-radius   : 3px;
	float       : right;
}

#filter_info {
	color       : #404080;
	width       : 230px;
	height      : 16px;
	padding-top : 2px;
	float       : left;
	text-align  : right;
}
