table.config A:link,
table.config A:visited,
table.config A:active
{ color : #55617b; }

table.config A:hover
{ color : #770404; }

@media (min-width: 1000px) {
/* Make links bold when there's enough page width */
table.config A:link,
table.config A:visited,
table.config A:active,
table.config A:hover
{
	text-decoration: none;
	font-weight    : Bold;
}
}

table.config {
	font-family    : Verdana, Arial, Helvetica, sans-serif;
	font-size      : 11px;
	border-style   : solid;
	border-color   : #b2c7c7;
	border-spacing : 1px;
	border-width   : 1px;
	border-collapse: collapse;
	padding        : 0px;
	line-height    : normal;
}

table.config td {
	font-weight : normal;
	text-align  : center;
	border-style: solid;
	padding     : 1px;
}

table.config th {
	position    : -webkit-sticky;
	position    : sticky;
	top         : -1px;
	padding     : 5px;
	border-width: 0px;
	background-color: #606060;
	/* header text */
	color       : #FFFFFF;
	font-weight : bold;
	text-align  : center;
}

/* alignment for title and developer columns */
table.config th:nth-child(2),
table.config td:nth-child(2),
table.config th:nth-child(8),
table.config td:nth-child(8)
{
	text-align: left;
}

.year {
	background-color: #99b5a5;
/*	position    : -webkit-sticky;
	position    : sticky;
	top         : 43px; */
}

.year div {
/*	font-size   : 10px; */
	font-weight : bold;
	text-align  : left;
	color       : #ffffff;
	padding-left: 10px;
}

.engine {
	background-color: #4897cc;
	position    : -webkit-sticky;
	position    : sticky;
	top         : 22px;
}

.engine div {
/*	font-size   : 10px; */
	font-weight : bold;
/*	text-shadow : -0.1em 0.1em #000000; */
	text-align  : center;
	color       : #FFFFFF;
	padding     : 3px;
}

.game_full { background-color: #dbffdb; }
.game_part { background-color: #f0f0f4; }
.game_bad  { background-color: #ffcbdb; }

.spacer {
	height      : 10px;
	border-width: 1px;
	border-color: #ffffff00;
}

.footer {
	color       : #FFFFFF;
	background-color: #606060;
	font-weight : bold;
	text-align  : center;
}

.detailtxt {
	color       : #2D2D36;
	text-align  : left;
	font-size   : 9px;
}

.filter_container, .filter, #filter_info {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size   : 10px;
}

.filter_container {
	float       : right;
	width       : 400px;
	padding-bottom : 4px;
/*	padding-right  : 4px;
	position    : -webkit-sticky;
	position    : sticky;
	top         : 3px;
	z-index     : 1; */
}

.filter {
	color       : #404080;
	background  : #FFFFFF;
	border      : 1px solid #C0C0C0;
	width       : 150px;
	height      : 16px;
	padding-left : 5px;
	padding-right: 5px;
	border-bottom-left-radius : 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius    : 3px;
	border-top-right-radius   : 3px;
	float       : right;
}

#filter_info {
	color       : #404080;
	width       : 230px;
	height      : 16px;
	padding-top : 2px;
	float       : left;
	text-align  : right;
}
